@import "./shared/components/TextInput/TextInput.module.css";
@import "./shared/components/Button/Button.module.css";
@import "./shared/components/Sidebar/Sidebar.module.css";
@import "./shared/components/Header/Header.module.css";
@import "./shared/components/Checkbox/Checkbox.module.css";
@import "./shared/components/Modal/Modal.module.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Botón de acción personalizado según el tipo de toast */
.toaster-success,
.toaster-error,
.toaster-warning,
.toaster-info {
  font-family: "Montserrat Variable", sans-serif;
  font-weight: 500;
  font-size: 13px;
}

.toaster-success button {
  background-color: #22c55e !important;
  color: white !important;
}

.toaster-warning button {
  background-color: #facc15 !important;
  color: black !important;
}

.toaster-error button {
  background-color: #ef4444 !important;
  color: white !important;
}

.toaster-info button {
  background-color: #3b82f6 !important;
  color: white !important;
}
